<!DOCTYPE html>
<html>
	<head>
		<title>Pavlok Presents: Zappy Bird's Bakery Escape</title>
		
		<!-- Custom CS/Javascript -->
		<link rel="stylesheet" href="/style.css">
				
		<!-- jQuery -->
		<script src="/jquery.js"></script> 
		
		<!-- Zap zap lib -->
		<script src="/lib.js"></script>
		
		<!-- Auth code, if we're signed in -->
		<script type="text/javascript">
		var pavCtx = {
			code: "{{ code }}"
		};
		</script>
		
		<meta name="viewport" content="width=device-width"> <!-- Can't be doing tap-to-scale -->
		
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> <!-- Scoreboard font -->
	</head>
	<body>
		<div id="title">
			Pavlok Presents: Zappy Bird's Bakery Escape
		</div>
		
		<div style="font-size: 1em;">
			<button id="easy-btn">Easy</button>
			<button id="normal-btn">Normal</button>
			<button id="hard-btn">Tough</button>
		</div>
	
		<div id="canvas-container">
			<canvas width="160" height="240" id="cv">
				Your browser doesn't support Canvas for games :(
			</canvas>
		</div>
		
		<div id="login-container">		
			<div id="login-block">
				<div id="logged-in">
					<a href="/logout">Logout</a>
				</div>
				<div id="login">
					<a href="/login">Login with Pavlok</a>
				</div>
			</div>
		
			<div style="font-size: 0.65em; margin-bottom: 0.2em; margin-top: 0.5em;">
				Zappy bird has gotten a little chubby, and he needs your help to change his habit! Help Zappy Bird escape from the circular minions from evil Donut Nation.

				How to play: 
				<ul style="list-style-position: inside;">
					<li>Click on Zappy Bird to help him fly! (Or use the spacebar.)</li>
					<li>Avoid the (tempting) donuts!</li>
					<li>Got a <a href="https://www.pavlok.com">Pavlok</a>? Login with your Pavlok account, and you'll get to feel what Zappy Bird is feeling.</li>
				</ul>

				Feel vibrations as you earn points, but be careful---you'll get zapped if you crash!
			</div>
		</div>
		
		<script src="/script.js"></script>
		
		<!-- Game assets -->
		<img class="asset" src="/assets/title.png" id="asset_title" />
		<img class="asset" src="/assets/background.png" id="asset_background" />
		<img class="asset" src="/assets/game_over_bolt.png" id="asset_game_over" />
		<img class="asset" src="/assets/play.png" id="asset_play" />
		<img class="asset" src="/assets/restart.png" id="asset_restart" />
		<img class="asset" src="/assets/tiles.png" id="asset_tiles" />
		<img class="asset" src="/assets/donut_shelf.png" id="asset_donut_shelf" />
		<img class="asset" src="/assets/cake_shelf.png" id="asset_cake_shelf" />
		<img class="asset" src="/assets/case_overlay.png" id="asset_case_overlay" />
		
		<img class="asset" src="/assets/module_sprite_1.png" id="asset_player1" />
		<img class="asset" src="/assets/module_sprite_2.png" id="asset_player2" />
		<img class="asset" src="/assets/module_sprite_3.png" id="asset_player3" />
		<img class="asset" src="/assets/module_sprite_4.png" id="asset_player4" />
		<img class="asset" src="/assets/trail_1.png" id="asset_trail1" />
		<img class="asset" src="/assets/trail_2.png" id="asset_trail2" />
		<img class="asset" src="/assets/fat_pavlok.png" id="asset_chubby_pavlok" />
		
		<img class="asset" src="/assets/pipe_v_1.png" id="asset_donut_1" />
		<img class="asset" src="/assets/pipe_v_2.png" id="asset_donut_2" />
		<img class="asset" src="/assets/pipe_v_3.png" id="asset_donut_3" />
		<img class="asset" src="/assets/now_serving.png" id="asset_scoreboard" />
	</body>
</html>
