/* See this fiddle for scaling details http://jsfiddle.net/namuol/VAXrL/1459/ */
@font-face {
	font-family: ledFont;
	src: url(ledfont.tff);
}

#canvas-container {
	text-align: center;
}

#login-container {
	margin-top: 0.2rem;
	font-size: 1.5em;
	color: white;
	text-align: center;
}

#cv {
	margin: 2em;
	width: 320px;
	height: 480px;
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    border: 2px solid #888;
}

img.asset {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

body {
	background-color: black;
}